body{
  margin:0;
  padding: 0;
  background-color: #2D2926;
  font-family: 'Indie Flower', cursive;


  .load{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100vh;
    font-size:6rem;
    position: relative;

    #item{
      position: absolute;
      left: 46rem;
      animation-name: one;
      animation-duration: 3s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      color: #f9a21d;

      @keyframes one{
        0%{left: 46rem;}
        50%{left: 47.5rem;}
        100%{left: 46rem;}
      }
    }
    #item-2{
      position: absolute;
      left: 47.5rem;
      animation-name: twoo;
      animation-duration: 3s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      color: #ee4517;

      @keyframes twoo{
        0%{left: 47.5rem;}
        50%{left: 48.5rem;}
        100%{left: 47.5rem;}
      }
    }
    #item-3{
      position: absolute;
      left: 50.5rem;
      animation-name: three;
      animation-duration: 3s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      color: #d70343;

      @keyframes three{
        0%{left: 50.5rem;}
        50%{left: 51.8rem;}
        100%{left: 50.5rem;}
      }
    }
    #item-4{
      position: absolute;
      left: 53.2rem;
      animation-name: four;
      animation-duration: 3s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      color: #EAEAEA;
      width: 20rem;

      @keyframes four{
        0%{transform: rotate(0);}
        50%{transform: rotate(50deg);}
        100%{transform: rotate(0);}
      }


    }
    #item-5{
      position: absolute;
      left: 57.7rem;
      animation-name: five;
      animation-duration: 3s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      color: #2F2FFF;
      @keyframes five{
        0%{left: 57.7rem;}
        50%{left: 56.9rem;}
        100%{left: 57.7rem;}
      }
    }
    #item-6{
      position: absolute;
      left: 59rem;
      animation-name: six;
      animation-duration: 3s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      color: #267A00;
      @keyframes six{
        0%{left: 59rem;}
        50%{left: 57.7rem;}
        100%{left: 59rem;}
      }
    }
    #item-7{
      position: absolute;
      left: 62.5rem;
      animation-name: seven;
      animation-duration: 3s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      color: #4B99BB;

      @keyframes seven{
        0%{left: 62.5rem;}
        50%{left: 61.1rem;}
        100%{left: 62.5rem;}
      }
    }
  }
}
